<ion-content  color="dark"  style="font-size: 20px;">
    <ion-grid>
        <ion-row >
            <ion-col>
                <ion-icon style="font-size: 80px;" name="location-outline"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col >
                <p>
                    The app is using the <strong>Bluetooth</strong> only, but it requires the <strong>location</strong> to be enabled in order to scan for Bluetooth devices.
                    <br><br> The app doesn't use any location data.
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p>
                    When scanning for cars you will be asked to enable <strong>location</strong>. Please <strong>confirm</strong> this request.
                    <br>
                </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
            </ion-col>

            <ion-col>
            </ion-col>

            <ion-col>
                <ion-button expand="block" color="primary" (click)="exitIntro()" style="font-size: 20px;height:40px;">Continue</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>