ion-label.disconnect {
  font-family: "Lato-Black";
  font-size: 16px;
  padding-right: 10px;
}

ion-grid {
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 4vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.03);
}

ion-label.level {
  font-family: "Lato-BlackItalic";
  font-size: 24px;
}

ion-content {
  --ion-background-color: #000000;
}

ion-fab-button {
  --background: #1d8400;
  --border-radius: 20px;
  height: 60px;
  width: 60px;
}
ion-icon {
  font-size: 30px;
}
ion-label {
  border: 2px solid white;
  background-color: #4b4b4b;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  line-height: 35px;
  font-size: 25px;
  font-weight: 900;
  font-family: "DSEG";
  font-variant-numeric: tabular-nums;
}
.fixedLabel {
  min-width: 120px;
  display: block;
  text-align: center;
}

table {
  font-family: "Lato", "sans-serif";
  margin-left: 100px;
  margin-top: 15px;
} /* added custom font-family  */

table.one {
  border-collapse: collapse;
}

td {
  /* removed the border from the table data rows  */
  text-align: center;
  width: 100px;
}

.best_lap {
  /* removed the border from the table heading row  */
  background-color: #45d21f; /* added a red background color to the heading cells  */
  //color: white;
} /* added a white font color to the heading text */

tr {
  height: 36px;
}

table tr:nth-child(even) {
  /* added all even rows a #eee color  */
  background-color: #eee;
}

table tr:nth-child(odd) {
  /* added all odd rows a #fff color  */
  background-color: #fff;
}

.table_best_lap_class {
  background-color: #45d21f !important;
}

@media all and (min-width: 750px) {
  .small-gauges {
    margin-left: 25px;
  }
}

@media all and (min-width: 800px) {
  .small-gauges {
    margin-left: 50px;
  }
}
