<body style="background-color: {{bgColor}};"  >

    <div style=" z-index:100; height:100%;background-color: rgba(105,105,105,0.9);
    border-radius: 25px;position:absolute; width:60%;margin-left:23%;" *ngIf="LapStatsShow">
        <div style="text-align: center;font-size:30px;color:white;margin-top:10px;">
            Lap Stats
        </div>
        <ion-icon style="font-size: 40px;position:absolute;color:white;right:15px;top:15px;" slot="end" name="close" (click)="LapStatsShow=!LapStatsShow" ></ion-icon>
        <div *ngIf="LapTimes.length">
            <table class="one">
                <tr [ngClass]="SingleLapTime.id == BestLapId ? 'table_best_lap_class':'noclass'" *ngFor="let SingleLapTime of LapTimes">
                    <td>{{SingleLapTime.id}}</td>
                    <td>{{SingleLapTime.time}}</td> 
                </tr>                        
            </table>
          </div>        
    
    </div>
<div style="border:0px solid red; color:white;height:100%;z-index:-200;" *ngIf="menuShow">
 
    <ion-header color="dark" style="border-bottom: 1px solid grey;">
        <ion-toolbar color="dark">
            <ion-title slot="start">Choose a game</ion-title>
            <ion-icon style="font-size: 30px;margin-right:15px; padding-right: 4px;margin-left:10%;" slot="end" name="close" (click)="menuShow=!menuShow" ></ion-icon>
        </ion-toolbar>
    </ion-header>
        <div style="margin-top:4%;">
            <div style="text-align: center;color:red" *ngIf="!alreadyConnected" (click)="startBleScan()">
                You need to connect the <b>Smart Finish Line</b> in order to play games. <u>SCAN</u>
            </div>
        </div>   
        <div class="services" style="text-align: center;margin-top:4%;">
           <div class="content content-1" style=" border-radius: 25px;border:1px solid white;float:left;width:30%;height:220px;margin-left:2.5%;padding:10px;" (touchstart) = "start('lap')">
              <ion-icon style="font-size: 50px;" slot="end" src="/assets/icon/lap.svg" ></ion-icon>
              <h2 style="color:dodgerblue;">
                 BEST LAP
              </h2>
              <p>
                 You will have 8 laps to set a best lap record.
              </p>

           </div>
           <div class="content content-2" style=" border-radius: 25px;border:1px solid white;float:left;width:30%;height:220px;margin-left:2.5%;padding:10px;" (touchstart) = "start('drag')">
                <ion-icon style="font-size: 50px;" slot="end" src="/assets/icon/road.svg" ></ion-icon>
                <h2 style="color:dodgerblue;">
                DRAG RACE
                </h2>
                <p>
                    straight line race until the finish line.
                </p>
           </div>
           <div class="content content-3" style=" border-radius: 25px;border:1px solid white;float:left;width:30%;height:220px;margin-left:2.5%;padding:10px;" (touchstart) = "start('countdown')">
                <ion-icon style="font-size: 50px;" slot="end" name="hourglass-outline" ></ion-icon>
                <h2 style="color:dodgerblue;">
                COUNTDOWN
                </h2>
                <p>
                   With every lap you complete there is less time to complete the next lap.
                </p>
           </div>
        </div>

</div>


<div *ngIf="!menuShow" >
    <!-- LAP stats-->
    <div style="position: absolute;top:20px;left:20px;width:70px;">        
        <ion-label color="light" class="fixedLabel" position="fixed"  style="margin-left:100px;">{{LapsCount}}/{{TotalLaps}}</ion-label>
    </div>

    <div style="position: absolute;top:20px;left:200px;width:70px;" >        
        <ion-label class="fixedLabel" position="fixed" color="light" style="margin-left: 105px;">{{time}}</ion-label>
    </div>

    <div style="position: absolute;top:20px;right:200px;width:70px;" >        
        <ion-label class="fixedLabel" position="fixed"  color="medium">{{BestLapTimeString}}</ion-label>
    </div>



    <!-- ICONS -->
    <div style="position: absolute;top:20px;left:10px;width:70px;border-radius: 15px;background-color: rgb(0, 98, 255);color:white;"  (touchstart) = "NitroClick()">        
            <ion-icon src="/assets/icon/nitro.svg" style="font-size: 45px;width:70px; padding-top:10px;padding-bottom:10px; "></ion-icon>
    </div>   
    <div style="position: absolute;top:95px;left:10px;width:70px;border-radius: 15px;background-color: rgb(231, 162, 0);color:white;"  (touchstart) = "goToSettings()">        
        <ion-icon name="hammer-outline" style="font-size: 40px;font-weight:700;width:70px; padding-top:10px;padding-bottom:10px;color:white; "></ion-icon>
    </div>   
    <div style="position: absolute;top:165px;left:10px;width:70px;border-radius: 15px;background-color: #1d8400;color:white;"  (touchstart) = "this.startBleScan();menuShow = true" >        
        <ion-icon src="/assets/icon/lap.svg" style="font-size: 40px;font-weight:700;width:70px; padding-top:10px;padding-bottom:10px; "></ion-icon>
    </div>                  
    <!-- Steering Wheel -->
    <img src="/assets/steering-wheel.png" width="120px;" (pan)="onMoveSteering($event)" (panend)="onEndSteering($event)" 
    style="margin-left:20px;transform: rotate({{wheelRotate}}deg);
    position:absolute;bottom:10px;left:10px;" > 

    <!-- RPM Gauge -->
    <div style="position: absolute; bottom: -5px; left:150px;width:300px;">

        <span style="width:40px;border-radius: 50px;background-color: rgba(231, 0, 0, 0.639);color:white;position:absolute;top:70px;left:130px;" (touchstart) = "disconnect()" >        
            <ion-icon name="power" style="font-size: 25px;font-weight:700;width:40px; padding-top:5px;padding-bottom:5px; "></ion-icon>
        </span> 
        <radial-gauge id="gauge-ps" width="300" height="300"
            [attr.value]="RPMValue"
            units="RPM/1000"
            title=""
            color-needle="#FF0000"
            data-type="radial-gauge"
            major-ticks="0,1,2,3,4,5,6,7,8,9,10"
            min-value="0"
            max-value="1000"
            color-plate="#000"
            color-title="#eee"
            color-units="#ccc"
            color-numbers="#eee"
            color-major-ticks="#ddd"
            color-minor-ticks="#ddd"
            borders="true"    
            minor-ticks="2"
            stroke-ticks="true"
            animation-rule="quad"
            [attr.animation-duration]="AnimationDuration"
            animated-value="true"
            font-units-weight="700"
            value=0
            value-dec=0
            highlights='[{"from": 700, "to": 1000, "color": "rgba(200, 50, 50, .75)"}]'
        ></radial-gauge>

    </div>

    <!-- Temp Gauge -->
    <div style="position: absolute; bottom: 0px; left:440px;width:150px;height:150px;">
        <radial-gauge id="gauge-ps" width="150" height="150"
            [attr.value]="TempValue"
            units="TEMP"
            title=""
            color-needle="#FF0000"
            data-type="radial-gauge"
            major-ticks="0,90 ,180"
            min-value="0"
            max-value="180"
            [attr.color-plate]="TempColor"
            color-title="#eee"
            color-units="#ccc"
            color-numbers="#eee"
            color-major-ticks="#ddd"
            color-minor-ticks="#ddd"
            borders="true"    
            minor-ticks="4"
            stroke-ticks="true"
            animation-rule="quad"
            [attr.animation-duration]="AnimationDuration"
            animated-value="true"
            start-angle="90"
            ticks-angle="180"
            value-box="true"
            font-value-size="35"
            font-value-weight="500"
            needle-type="arrow"
            font-numbers-size="50"
            font-units-size="40"
            font-units-weight="700"
            value-dec=0
            highlights='[{"from": 150, "to": 180, "color": "rgba(200, 0, 0, .75)"},{"from": 120, "to": 150, "color": "rgba(255, 131, 0, .75)"}]'
        ></radial-gauge>
    </div>

    <!-- Fuel Gauge -->
    <div style="position: absolute; bottom: 150px; left:440px;width:150px;height:150px;" (touchstart) = "FuelClick()">
        <radial-gauge id="gauge-ps" width="150" height="150"
            [attr.value]="FuelValue"
            units="FUEL"
            title=""
            color-needle="#FF0000"            
            data-type="radial-gauge"
            major-ticks="E, ,F"
            min-value="0"
            max-value="1000"
            [attr.color-plate]="FuelColor"
            color-title="#eee"
            color-units="#ccc"
            color-numbers="#eee"
            color-major-ticks="#ddd"
            color-minor-ticks="#ddd"
            borders="true"    
            minor-ticks="2"
            stroke-ticks="true"
            animation-rule="quad"
            [attr.animation-duration]="AnimationDuration"
            animated-value="true"
            start-angle="60"
            ticks-angle="240"
            value-box="false"
            needle-type="arrow"
            font-numbers-size="50"
            font-units-size="40"
            font-units-weight="700"
            value-dec=0
            highlights='[{"from": 900, "to": 1000, "color": "rgba(0, 200, 0, .75)"},{"from": 0, "to": 100, "color": "rgba(200, 0, 0, .75)"}]'
        ></radial-gauge>
    </div>

    <span style="position: absolute;  right:0px;top:20px"   (pan)="onMoveGas($event)" (panend)="onEndGas($event)">
        <linear-gauge id="linear-ps" width="120" height="355" 
        [attr.value]="GasValue"
        [attr.color-bar-progress]="ProgressBarColor"
        title=""
        number-side="left"
        tick-side="left"
        needle-side="left"
        major-ticks="R,N,D"
        min-value="0"
        max-value="1000"
        color-bar-progress="#327ac0"
        [attr.color-plate]="bgColor"
        color-title="#eee"
        color-units="#ccc"
        color-numbers="#eee"
        color-major-ticks="#ddd"
        color-minor-ticks="#ddd"
        borders="false"    
        minor-ticks="2"
        stroke-ticks="fa"
        value-box="false"
        bar-begin-circle="false"
        value=500
        animation-rule="quad"
        [attr.animation-duration]="AnimationDuration"
        highlights='[{"from": 0, "to": 0, "color": "rgba(200, 50, 50, .75)"}]'    
        ></linear-gauge> 
    </span>

</div>
</body>